* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.header {
  background: #AB2A19;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items: Center;
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

